/*
 * Copyright 2019 Embedded Artists AB
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
 
#include "imx8mm-ea-ucom-kit_v3.dts"

/ {

        regulators {
                compatible = "simple-bus";

		reg_vref_1v8: regulator-vref-1v8 {
			compatible = "regulator-fixed";
			regulator-name = "vref-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		reg_vref_2v5: regulator-vref-2v5 {
			compatible = "regulator-fixed";
			regulator-name = "vref-2v5";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
		};

		reg_vref_3v3: regulator-vref-3v3 {
			compatible = "regulator-fixed";
			regulator-name = "vref-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
	};
};

&csi1_bridge {
	fsl,mipi-mode;
	status = "okay";
	port {
		csi1_ep: endpoint {
			remote-endpoint = <&csi1_mipi_ep>;
		};
	};
};

&mipi_csi_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	port {
		mipi1_sensor_ep: endpoint@1 {
			remote-endpoint = <&ov5640_mipi1_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;

		};

		csi1_mipi_ep: endpoint@2 {
			remote-endpoint = <&csi1_ep>;
		};
	};
};


&i2c1 {
	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640_mipi";
		reg = <0x3c>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ov5640>;
		clocks = <&clk IMX8MM_CLK_DUMMY>;
		clock-names = "csi_mclk";
		csi_id = <0>;

		AVDD-supply = <&reg_vref_2v5>;
		DVDD-supply = <&reg_vref_3v3>;
		DOVDD-supply = <&reg_vref_1v8>;

		pwn-gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
		mclk = <12000000>;
		mclk_source = <0>;
		port {
			ov5640_mipi1_ep: endpoint {
				remote-endpoint = <&mipi1_sensor_ep>;
			};
		};
	};

};

&iomuxc {

        imx8mmea-kit {

                pinctrl_ov5640: ov5640grp {
                        fsl,pins = <
				MX8MM_IOMUXC_SPDIF_TX_GPIO5_IO3		0x19
				MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4		0x19
                        >;
                };
	};
};
