/*
 * Copyright (C) 2014-2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "imx6sxea-com-kit.dts"

&lcdif1 {
        status = "okay";
};
&lcdif2 {
        status = "okay";
};
&t_lcd {
        status = "okay";
};
&t_lvds {
        status = "okay";
};
&backlight_lcd {
        status = "okay";
};
&backlight_lvds {
        status = "okay";
};
&display0 {
        status = "okay";
};
&display1 {
        status = "okay";
};
&ldb {
        status = "okay";
};

