/*
 * Copyright 2020 Embedded Artists AB.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx7ulp.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Embedded Artists i.MX7ULP uCOM";
	compatible = "fsl,imx7ulpea-ucom", "fsl,imx7ulp", "Generic DT based system";

	aliases {
		gpio4 = &rpmsg_gpio0;
		gpio5 = &rpmsg_gpio1;
	};

	memory@60000000 {
		device_type = "memory";
		reg = <0x60000000 0x40000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vdev0vring0: vdev0vring0@9ff00000 {
			reg = <0x9ff00000 0x8000>;
			no-map;
		};
		vdev0vring1: vdev0vring1@9ff08000 {
			reg = <0x9ff08000 0x8000>;
			no-map;
		};
		vdev1vring0: vdev1vring0@9ff10000 {
			reg = <0x9ff10000 0x8000>;
			no-map;
		};
		vdev1vring1: vdev1vring1@9ff18000 {
			reg = <0x9ff18000 0x8000>;
			no-map;
		};
		vdev1vring3 {
			reg = <0x9ff20000 0xe0000>;
			no-map;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_vsd_3v3: regulator-vsd-3v3 {
			compatible = "regulator-fixed";
			regulator-name = "VSD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_ptd 0 GPIO_ACTIVE_HIGH>;
			off-on-delay = <20000>;
			enable-active-high;
		};

	};

	pf1550-rpmsg {
		compatible = "rohm,bd70528-rpmsg";
		sw1_reg: SW1 {
				regulator-name = "SW1";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
		};

		sw2_reg: SW2 {
				regulator-name = "SW2";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
		};

		sw3_reg: SW3 {
				regulator-name = "SW3";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-boot-on;
				regulator-always-on;
		};

		vldo1_reg: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
		};

		vldo2_reg: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
		};

		vldo3_reg: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
		};
	};

	rpmsg_gpio0: rpmsg-gpio0 {
		compatible = "fsl,imx-rpmsg-gpio";
		port_idx = <0>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&rpmsg_gpio0>;
		status = "okay";
	};

	rpmsg_gpio1: rpmsg-gpio1 {
		compatible = "fsl,imx-rpmsg-gpio";
		port_idx = <1>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&rpmsg_gpio1>;
		status = "okay";
	};

	imx7ulp-cm4 {
		compatible = "fsl,imx7ulp-cm4";
		ipc-only;
		rsc-da=<0x1fff8000>;
		mbox-names = "tx", "rx", "rxdb";
		mboxes = <&mu 0 1
			  &mu 1 1
			  &mu 3 1>;
		memory-region = <&vdev0vring0>, <&vdev0vring1>,
				<&vdev1vring0>, <&vdev1vring1>;
	};

};

&cpu0 {
	fsl,ldo-enabled-mode;
	cpu-supply= <&sw1_reg>;
};

&mmdc {
	fsl,mmdc_offset = < 0x01c 0x800 0x85c 0x890
			0x848 0x850 0x81c 0x820
			0x824 0x828 0x82c 0x830
			0x834 0x838 0x8c0 0x8b8
			0x004 0x00c 0x010 0x038
			0x014 0x018 0x02c 0x030
			0x040 0x000 0x01c 0x01c
			0x01c 0x01c 0x01c 0x01c
			0x83c 0x83c 0x020 0x004
			0x404 0x01c >;

	fsl,mmdc_value = < 0x00008000 0xA1390003 0x1B4380BD 0x00480000
			0x3C3C383C 0x2C2C2C2C 0x33333333 0x33333333
			0x33333333 0x33333333 0xf3333333 0xf3333333
			0xf3333333 0xf3333333 0x24922492 0x00000800
			0x00020024 0x4F534335 0xB6AF0B23 0x00160667
			0x00C700DB 0x00201718 0x0F9F26D2 0x009F0E10
			0x0000004F 0x84190000 0x00008010 0x003F8030
			0xFF0A8030 0x83018030 0x06028030 0x01038030
			0x20000000 0x20000000 0x00001800 0x00020024
			0x00010106 0x00000000 >;
};


&iomuxc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	imx7ulpea-ucom {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				IMX7ULP_PAD_PTC1__PTC1		0x20000
			>;
		};

		pinctrl_lpi2c5: lpi2c5grp {
			fsl,pins = <
				IMX7ULP_PAD_PTC4__LPI2C5_SCL	0x27
				IMX7ULP_PAD_PTC5__LPI2C5_SDA	0x27
			>;
		};

		pinctrl_lpi2c7: lpi2c7grp {
			fsl,pins = <
				IMX7ULP_PAD_PTF12__LPI2C7_SCL	0x27
				IMX7ULP_PAD_PTF13__LPI2C7_SDA	0x27
			>;
		};

		pinctrl_usdhc0: usdhc0grp {
			fsl,pins = <
				IMX7ULP_PAD_PTD1__SDHC0_CMD	0x43
				IMX7ULP_PAD_PTD2__SDHC0_CLK	0x10042
				IMX7ULP_PAD_PTD7__SDHC0_D3	0x43
				IMX7ULP_PAD_PTD8__SDHC0_D2	0x43
				IMX7ULP_PAD_PTD9__SDHC0_D1	0x43
				IMX7ULP_PAD_PTD10__SDHC0_D0	0x43
				IMX7ULP_PAD_PTD0__PTD0		0x20000	/* USDHC0 RST */
			>;
		};

		pinctrl_usdhc0_8bit: usdhc0grp_8bit {
			fsl,pins = <
				IMX7ULP_PAD_PTD1__SDHC0_CMD	0x43
				IMX7ULP_PAD_PTD2__SDHC0_CLK	0x10042
				IMX7ULP_PAD_PTD3__SDHC0_D7	0x43
				IMX7ULP_PAD_PTD4__SDHC0_D6	0x43
				IMX7ULP_PAD_PTD5__SDHC0_D5	0x43
				IMX7ULP_PAD_PTD6__SDHC0_D4	0x43
				IMX7ULP_PAD_PTD7__SDHC0_D3	0x43
				IMX7ULP_PAD_PTD8__SDHC0_D2	0x43
				IMX7ULP_PAD_PTD9__SDHC0_D1	0x43
				IMX7ULP_PAD_PTD10__SDHC0_D0	0x43
				IMX7ULP_PAD_PTD11__SDHC0_DQS	0x42
			>;
		};
	};
};

/* I2C-A */
&lpi2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c5>;
	pinctrl-1 = <&pinctrl_lpi2c5>;
	status = "okay";

        at24@55 {
                compatible = "at,24c64";
                pagesize = <32>;
                reg = <0x55>;
        };
};

/* I2C-D */
&lpi2c7 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c7>;
	pinctrl-1 = <&pinctrl_lpi2c7>;
	status = "okay";
};

/* eMMC */
&usdhc0 {
	assigned-clocks = <&scg1 IMX7ULP_CLK_APLL_PFD1>, <&pcc2 IMX7ULP_CLK_USDHC0>;
	assigned-clock-parents = <0>, <&scg1 IMX7ULP_CLK_APLL_PFD1>;
	assigned-clock-rates = <0>, <352800000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc0_8bit>;
	pinctrl-1 = <&pinctrl_usdhc0_8bit>;
	pinctrl-2 = <&pinctrl_usdhc0_8bit>;
	pinctrl-3 = <&pinctrl_usdhc0_8bit>;
	non-removable;
	bus-width = <8>;
	status = "okay";
};

